{% extends 'main/base.html' %}
{% load static %}
{% block title %} DRIVER/CONDUCTOR LIST {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'CSS/Admin-driver.css' %}">

<div class="container">
    <h2>Registered Drivers/Conductors</h2>
    
    <button class="add-btn" onclick="window.location.href= '/admin/addDriver'">Add Driver/Conductor</button>
    
    <table>
        <thead>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody style="background-color: black!important;">
            {% for driver in drivers %}
            <tr>
                <td>{{ driver.email }}</td>
                <td>{{ driver.first_name }}</td>
                <td>{{ driver.last_name }}</td>
                <td>{{ driver.date_of_birth }}</td>
                <td>{{ driver.gender }}</td>
                <td>{{ driver.phone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        {% if drivers.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ drivers.previous_page_number }}">Previous</a>
        {% endif %}
        
        <span>Page {{ drivers.number }} of {{ drivers.paginator.num_pages }}</span>
        
        {% if drivers.has_next %}
            <a href="?page={{ drivers.next_page_number }}">Next</a>
            <a href="?page={{ drivers.paginator.num_pages }}">Last</a>
        {% endif %}
    </div>
</div>

{% endblock %}
