<!-- bus_list.html -->
{% extends 'main/base.html' %}
{% load static %}
{% block title %}Bus Management{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'CSS/Admin-Bus.css' %}">
<div class="container">
    <h2>Bus Management</h2>
    <button id="addBusBtn" onclick="location.href='/admin/addBus'">Add Bus</button>
    <table>
        <thead>
            <tr>
                <th>Route</th>
                <th>Fleet Number</th>
                <th>Number plate</th>
                <th>Driver</th>
            </tr>
        </thead>
        <tbody id="busTableBody">
            <!-- Data populated dynamically -->
             {% for bus in buses %}
            <tr>
                <td>{{ bus.route_name }}</td>
                <td>{{ bus.fleet_number }}</td>
                <td>{{ bus.license_plate }}</td>
                <td>{{ bus.driver_name }}</td>
            </tr>
             {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <button id="prevPage">Previous</button>
        <button id="nextPage">Next</button>
    </div>
</div>
<script src="{% static 'Js/Admin-Bus.js' %}"></script>
{% endblock %}
