{% extends 'main/base.html' %}
{% load static %}
{% block title %} USER ACTIVITY {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
            <div class="main-cards">
                <div class="card">
                    <div class="card-inner">
                        <h3>BUSES</h3>
                        <span class="material-icons-outlined">inventory_2</span>
                    </div>
                    <h1>875</h1>
                </div>

                <div class="card">
                    <div class="card-inner">
                        <h3>ROUTES</h3>
                        <span class="material-icons-outlined">route</span>
                    </div>
                    <h1>875</h1>
                </div>

                <div class="card">
                    <div class="card-inner">
                        <h3>DRIVERS</h3>
                        <span class="material-icons-outlined">person_outline</span>
                    </div>
                    <h1>875</h1>
                </div>

                <div class="card">
                    <div class="card-inner">
                        <h3>Payments</h3>
                        <span class="material-icons-outlined">inventory_2</span>
                    </div>
                    <h1>875</h1>
                </div>
            </div>
            <div class="charts">
                <div class="charts-card">
                    <h2 class="chart-title">Bus status</h2>
                    <div id="bar-chart"></div>
                </div>
                <div class="charts-card">
                    <h2 class="chart-title">Revenue summary</h2>
                    <div id="area-chart"></div>
                </div>
            </div>
        </main>
    </div>
<!--scripts-->
<!------Apex charts------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/4.3.0/apexcharts.min.js"></script>
<!-----Custom Js-->
    <script src="{% static 'Js/scripts.js' %}"></script>
{% endblock %}