{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - MetroManage</title>
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
    <script src="https://kit.fontawesome.com/2e5a9c41cc.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="login-form">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="name" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit"  id="login-btn">Login</button>
            <span id="loadingIndicator" style="display:none;">Loading...</span>
            <p id="error-message" class="error-message"></p>
        </form>
    </div>
    <script src="{% static 'Js/login.js' %}"></script>
</body>
</html>
