{% extends 'main/UserBase.html' %}
{% load static %}
{% block title %} USER ALERTS {% endblock %}

{% block content %}
            <link rel="stylesheet" href="{ % static 'CSS/User-Alert.css' %}">
              <div class="notifications-container">
                <h1>Notifications and Alerts</h1>
            
                <!-- Notifications List -->
                <div id="notifications-list" class="notifications-list">
                  <!-- Dynamic Notifications -->
                </div>
              </div>
            
              <script src="{% static '/Js/User-Alert.js' %}"></script>   
{% endblock %}