{% extends 'main/UserBase.html' %}
{% load static %}
{% block title %}User Profile{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'CSS/User-Profile-page.css' %}">
    <div class="profile-container">
        <div class="profile-header">
            <h1>User Profile</h1>
        </div>
        <div class="profile-content">
            <div class="profile-item">
                <span class="label">Driver ID:</span>
                <span class="value" id="driverID">{{ driver.driverID }}</span>
            </div>
            <div class="profile-item">
                <span class="label">Email:</span>
                <span class="value" id="email">{{ driver.email }}</span>
            </div>
            <div class="profile-item">
                <span class="label">First Name:</span>
                <span class="value" id="firstName">{{ driver.first_name }}</span>
            </div>
            <div class="profile-item">
                <span class="label">Last Name:</span>
                <span class="value" id="lastName">{{ driver.last_name }}</span>
            </div>
            <div class="profile-item">
                <span class="label">Date of Birth:</span>
                <span class="value" id="dateOfBirth">{{ driver.date_of_birth }}</span>
            </div>
            <div class="profile-item">
                <span class="label">Gender:</span>
                <span class="value" id="gender">{{ driver.gender }}</span>
            </div>
            <div class="profile-item">
                <span class="label">Phone:</span>
                <span class="value" id="phone">{{ driver.phone }}</span>
            </div>
        </div>
        <div class="profile-actions">
            <button id="editButton">Edit Profile</button>
        </div>
    </div>
    <script src="{% static '/Js/User-Profile-Page.js' %}"></script>
{% endblock %}
