{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-----Montserat Font------>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-----Material icons------>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/CSS/User-Alert.css' %}">
    <title>Alerts</title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="header-left">
                <span class="material-icons-outlined">search</span>
            </div>
            <div class="header-right">
                <span class="material-icons-outlined">account_circle</span>
            </div>
        </header>
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-icons-outlined">shopping_cart</span> METROMANAGE
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>

            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <span class="material-icons-outlined">dashboard</span> Dashboard
                </li>
                <li class="sidebar-list-item">
                    <span class="material-icons-outlined">directions_bus</span><a href="/admin/bus">Bus Management</a>
                </li>
                <li class="sidebar-list-item">
                    <span class="material-icons-outlined">route</span> <a href="/admin/routes"> Route Management</a>
                </li>
                <li class="sidebar-list-item">
                    <span class="material-icons-outlined">people</span> Driver Management
                </li>
                <li class="sidebar-list-item">
                    <span class="material-icons-outlined">paid</span> Payments
                </li>
                <li class="sidebar-list-item">
                    <span class="material-icons-outlined">summarize</span> Reports
                </li>
                
            </ul>

        </aside>
        <main class="main-container">
            <div class="main-title">
                <h2>DASHBOARD</h2>
            </div>

              <div class="notifications-container">
                <h1>Notifications and Alerts</h1>
            
                <!-- Notifications List -->
                <div id="notifications-list" class="notifications-list">
                  <!-- Dynamic Notifications -->
                </div>
              </div>
            
              <script src="{% static '/Js/User-Alert.js' %}"></script>   
</body>
</html>